* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
   
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.btn{
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover{
    background-color: #469165ce;
}