* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

}

nav .menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.btn {
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.btn-white {
    border: 1px solid #ffffff;
    background-color: none;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 5px;
    margin-left: 10px;
    background: none;
    color: #ffffff;
}

.banner-btn .btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #469165ce;
}

#banner {
    text-align: center;
    padding: 115px 120px 180px;
    background: url("./assets/hero-bg.png");
}

.banner-top {
    background-color: #ffffff;
    color: #469165;
    padding: 8px 12px;
    border-radius: 1000px;
    width: 229px;
    margin: 0px auto;
    margin-bottom: 16px;

}

.banner-contant .title {
    font-size: 72px;
    margin-bottom: 16px;
    color: #ffffff;
}

.banner-contant .title .green {
    color: #30B868;
}

.banner-contant .text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
    color: #ffffff;
}