* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

}

nav .menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.btn {
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}

.btn-white {
    border: 1px solid #ffffff;
    background-color: none;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 5px;
    margin-left: 10px;
    background: none;
    color: #ffffff;
    cursor: pointer;
}

.btn-white:hover {
    background-color: #0000003b;
    color: rgba(255, 255, 255, 0.712);
}

.banner-btn .btn,
.access .btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #469165ce;
}

#banner {
    text-align: center;
    padding: 115px 120px 180px;
    background: url("./assets/hero-bg.png"), #00193180;
}

.banner-top {
    background-color: #ffffff;
    color: #469165;
    padding: 8px 12px;
    border-radius: 1000px;
    width: 229px;
    margin: 0px auto;
    margin-bottom: 16px;

}

.banner-contant .title {
    font-size: 72px;
    margin-bottom: 16px;
    color: #ffffff;
}

.banner-contant .title .green {
    color: #30B868;
}

.banner-contant .text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
    color: #ffffff;
}

#note .note-heading {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 44px;
}

.note-heading h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.note-heading p {
    font-size: 16px;
    color: #627382;
}

#note .note-card-container {
    display: flex;
    gap: 24px;
    margin: 0px 120px;
    text-align: center;
}

#note .note-card-container .note-card {
    padding: 24px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.137);
    border-radius: 8px;
}

#note .note-card-container img {
    background-color: #F95555;
    border-radius: 100%;
    padding: 10px 10px;
    margin-bottom: 16px;

}

#note .note-card-container h3 {
    font-size: 20px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

#note .note-card-container p {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}

#brain .brain-container {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 120px;
}

.brain-contant .massage {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.brain-contant .brain-title {
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.brain-container .brain-description {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 40px;
}

.brain-contant .description {
    list-style-type: none;

}

.brain-contant .description li {
    background: url("./assets/CheckCircle.png");
    background-repeat: no-repeat;
    padding-left: 24px;
    background-position: left center;
    margin-bottom: 16px;
    color: #001931;
    font-weight: 500;
}

#early-access {
    padding: 2px 120px 120px;

}

#early-access .access {
    background: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
}

.access .btn {
    margin: 0px auto;
}

.access .btn:hover {
    background-color: #001931d3;
    color: #ffffff;
}

.access .access-title {
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.access .access-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.access .ending-massage {
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}

#footer-container {
    background-color: #001931;
}

#footer-container .footer-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 80px;
    margin: 0px auto;
}

.copyright {
    text-align: center;
}

.footer-contant .social p {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-contant .social a {
    background-color: #ffffff;
    color: black;
    border-radius: 100%;
    padding: 5px;
    margin-right: 16px;
}

#footer-container hr {
    margin: 0px 120px 0px;
    border-color: #e5e7eb27;
}

.copyright {
    font-size: 16px;
    color: #FAFAFA;
    padding-top: 30px;
    padding-bottom: 30px ;
}